# Cluster weekly transactions patterns
Check [Deep Temporal Clustering : Fully Unsupervised Learning of Time-Domain Features](https://arxiv.org/abs/1802.01059v1) for more details on the approach.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load and inspect the transaction data

In [2]:
transactions = pd.read_csv('~/data/kkbox-churn/transactions.csv')
transactions.shape

(21547746, 9)

In [3]:
%%time
transactions_per_user = [
    trans.sort_values('transaction_date')
    for _, trans in transactions.groupby('msno')
    if len(trans) >= 3
]

CPU times: user 5min 46s, sys: 2.74 s, total: 5min 49s
Wall time: 5min 49s

In [37]:
transactions_per_user[np.random.choice(len(transactions_per_user))]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
16461037,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20150124,20150225,0
1549942,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20150224,20150325,0
1780963,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20150324,20150425,0
14761499,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,0,0,149,1,20150424,20150525,0
20751547,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20150524,20150625,0
10293244,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20150624,20150725,0
20249266,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20150724,20150825,0
17026439,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20150824,20150925,0
1254597,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20150924,20151025,0
5291400,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20151024,20151125,0
5002221,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20151124,20151225,0
21520418,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20151224,20160125,0
4047372,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160124,20160225,0
19609715,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160224,20160325,0
16995210,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160324,20160425,0
7716443,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160424,20160525,0
1171387,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160524,20160625,0
2113103,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160624,20160725,0
8326731,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160724,20160825,0
1521521,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160824,20160925,0
20967594,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20160924,20161025,0
20168878,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20161024,20161125,0
11365927,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20161124,20161225,0
10470067,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20161224,20170125,0
1946864,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20170124,20170225,0
1646885,1kvk3pdve9uxdm3XXvn/BOPRo2b7GcRIB3cp3yiastI=,41,30,149,149,1,20170224,20170325,0

In [4]:
transactions.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

## Pre-process the data and split into weekly chunks

## Define the autoencoder

## Train and export the model

## Visualize the clusters distribution and some of the results